doctype
html
	head
		title Space Race
		link(rel="stylesheet" href="/main.css")
	body
		.mainContainer
			.leftContainer
				for player in users
					h3= player.user.username
			.gameBoard
				.background
				.shipContainer
					for player in users
						.ship= player.user.username
		.bottomContainer Test
		script(src='/socket.io/socket.io.js')
		script(src="/lib/jquery/dist/jquery.min.js")
		script(src="/main.js")
