doctype
html
	head
		title Space Race
		link(rel="stylesheet" href="/main.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323")
	body
		.mainContainer
			.title Space Race
			hr.line
			.gameBoard
				#background
				#playerList.shipContainer
					for player in users
						.ship= player.username
			.moon
				img(src='/assets/Moon-Transparent-PNG%20copy.png')
		.bottomContainer Test
		script(type="text/javascript").
			var users = !{JSON.stringify(users)};
		script(src='/socket.io/socket.io.js')
		script(src="/lib/jquery/dist/jquery.min.js")
		script(src="/main.js")
