doctype
html
	head
		title Space Race
		link(rel="stylesheet" href="/main.css")
	body
		.mainContainer
			.leftContainer
				h3 Player 1
				h3 Player 2
				h3 Player 3
				h3 Player 4
			.gameBoard
				.background
				.shipContainer
					.ship Player 1
					.ship Player 2
					.ship Player 3
					.ship Player 4
		.bottomContainer Test
		script(src="/lib/jquery/dist/jquery.min.js")
		script(src="/main.js")
