doctype
html
	head
		title Space Race
		link(rel="stylesheet" href="/main.css")
	body
		h1 Dat boi
		ul 
			li: a(href='/game/create') create
			
		script(src='/socket.io/socket.io.js')
		script(src="/lib/jquery/dist/jquery.min.js")
		script(src="/main.js")