* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	height: 80%;
}

.gameBoard {
	height: 100%;
	width: 100%;
}

.shipContainer {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	z-index: 100;
}

.line {
	z-index: 100;
}


.bottomContainer {
	height: 20%;
	width: 100%;
	background-color: green;
}

.ship {
	position: absolute;
	top: -200px;
	transform: rotate(-90deg);
	float: left;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 5rem;
	font-family: 'VT323', monospace;
	z-index: 100;
}

.moon {
	display: flex;
	justify-content: center;
	max-height: 25%;
	margin: 0 auto;
	max-width: 100%;
	position: absolute;
	top: 0;
}

.moon img {
	max-width: 70%;
}

/*Stars*/
@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: black; }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: black;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: black; }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: black;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: black; }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: black;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: black; }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: black;
    }
}

body {
    background-color: black;
    color: yellow;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
